/# GuideMe merged app (FIXED VERSION — CH.py
/# GuideMeApp - Single merged file TEN DEC.py
/desktop.ini
/GuideMe app final login page 3.py
/GuideMe app page 1 & 2.py
/GuideMe Final with login+Sign Up+Budget+Graph 2.py
/GuideMe Final with login+Sign Up+Budget+Graph.py
/map.html
/maps api.py
/new window.py
/NewImprovedApp.py
/opo.py
/Picture2.png
/trip_history.json
/users.json
/Weather & maps for GuideMe 2.py
/Weather & maps for GuideMe 3.py
/Weather & maps for GuideMe.py
/Weather API for GuideMe with icons 2.py
/Weather API for GuideMe with icons.py
/widget.py